* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #cfccca;
}

.row {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
	margin-top: 14px;
	padding-bottom: 26px;
}

.span1 {
    width: 236px;
    float: left;
    margin-left: 0px;
    min-height: 1px;
}

.span1 ul {
    margin: 0;
    font-size: 12px;
    background: #5f5750;
    text-align: center;
    height: 170px;
}

.span1 ul img {
    width: 24px;
    height: 24px;
    padding-left: 22px;
    padding-top: 16px;
    padding-bottom: 5px;
    display: block;
    color: #c0bdba;
}

.span1 ul li a:hover {
    color: #ffffff;
}

.span1 ul {
    display: flex;
    flex-wrap: wrap;
}

.span1 ul li {
    display: inline-block;
    width: 70px;
    height: 64px;
    margin-left: 6px;
    display: flex;
}

.line2 {
    width: 64px;
    margin-left: 3px;
    margin-top: 2px;
    border-top: 1px solid #665e57;
}

.line {
    height: 70px;
    border-left: 1px solid #665e57;
    margin-left: -71px;
    margin-top: 10px;
}



.span2 {
    display: block;
}

.span2 ul {
    font-size: 0;
}

.span2 ul li {
    display: inline-block;
    margin-left: 14px;
}

.span2 img {
    width: 316px;
    height: 170px;
}

.span2 .last {
    margin-right: 0;
}